{% block content%}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CV Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Additional custom styles can be added here */
  </style>
</head>
<body>

<div class="container mt-4">
  <h1>CV Form</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" name="title_cv">
    </div>
    <div class="form-group">
      <label for="experience">Experience:</label>
      <input type="text" class="form-control" id="experience" placeholder="Enter experience" name="experience">
    </div>
    <div class="form-group">
      <label for="skills">Skills:</label>
      <input type="text" class="form-control" id="skills" placeholder="Enter skills" name="skills">
    </div>
    <div class="form-group">
      <label for="interest">Interest:</label>
      <input type="text" class="form-control" id="interest" placeholder="Enter interest" name="interest">
    </div>
    <div class="form-group">
      <label for="education">Education:</label>
      <input type="text" class="form-control" id="education" placeholder="Enter education" name="education">
    </div>
    <div class="form-group">
      <label for="projects">Projects:</label>
      <input type="text" class="form-control" id="projects" placeholder="Enter projects" name="prjct">
    </div>


    <button type="submit" >Submit</button>


  </form>
</div>

<!-- Bootstrap JS and other scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>








{% endblock content%}